body{
  margin:0;
  padding:0;
} 
.bigbody{
  display:flex;
  flex-direction:row;
  font-family:Roboto,Arial;
  padding-left:18px;
}
.bigbody p{
  color:black;
  font-size:14px;
  font-weight: 420;
  line-height:28px;
}
.bigbody h4{
  margin-top:0;
  margin-bottom:0;
  font-size:14px;
}
.typecont{
  margin-left:12px;
}
.typecont p{
  margin-left:15px;
}
.creview div,.prime div{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.wstyles p{
  display:inline-block;
}
.prime,.deliver,.creview,.deals,.wstyles,.avail{
  margin-top:16px;
  margin-bottom:16px;
}
.primelogo{
  text-align:end;
}
.stars{
  width:80px;
  text-align:center;
}
.check{
  margin-left:0;
}
.cat,.typecont{
  font-size:14px;
  font-weight:bold;
  margin-bottom:16px;
}
.left{
  width:250px;
  border-right:2px solid rgb(218, 218, 220);
}
.left p{
  cursor:pointer;
  transition:color 0.15s;
}
.left h4{
  color:black;
}
.right{
  width:850px;
}
.primelogo{
  width:70px;
}
.checkbox{
  box-shadow:inset 0px 2px 4px rgba(0,0,0,0.15);
}
.gbutton{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  margin-top:20px;
}
.gray1,.gray2{
  width:20px;
  height:35px;
  background-color: rgb(234, 231, 231);
}
.gray1{
  margin-right:120px;
}
.gray2{
  margin-left:120px;
}
.set1{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap:3px;
  margin-top:15px;
}
.set2row,.set3row{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  width:100%;
  background-color: white;
}
.set2row{
  padding-bottom:10px;
}
.set2,.set3{
  width:90%;
  display:flex;
  flex-direction:column;
  background-color: rgb(239, 239, 239);
  padding:20px;
  justify-content:center;
  margin-left:20px;
}
.set2{
  padding-bottom:20px;
}
.left p:hover{
  color:rgb(198, 106, 14);
}
.title{
 background-color:white;
 line-height:24px;
 font-weight:bold;
 font-family:'Times New Roman';
 padding-left:10px;
 font-size:24px;
 padding-bottom:20px;
 padding-top:10px;
}
.s3r{
  width:143px;
  background-color:white;
  padding-left:1.5px;
  padding-right:1.5px;
  padding-bottom:30px;
}
.set3{
  padding-top:0;
}
.model{
  width:125px;
  height:145px;
}
.prdt{
  width:95px;
}
.sec{
  height:150px;
}
.join,.sbi,.cb{
  width:95%;
  justify-content: center;
  align-items:center;
}
.join{
  margin-left:15px;
  margin-right:15px;
  margin-bottom:10px;
}
.set1 p{
  text-align:center;
  font-size:16px;
  margin-top:0;
  margin-bottom:0;
  line-height:20px;
}
.m{
  background-color: white;
  color:black;
  border-radius:20px;
  border: 1.5px black solid;
  padding-left:100px;
  padding-right:100px;
  padding-top:5px;
  padding-bottom:5px;
  font-weight:bold;
}
.w{
    background-color:black;
  color:white;
  font-weight:bold;
  border-radius:20px;
  border:none;
    padding-left:100px;
  padding-right:100px;
  padding-top:5px;
  padding-bottom:5px;
  margin-left:20px;
}