.fbar{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  height:48px;
  border-color:rgb(218, 218, 220);
  border-style: solid;
  margin-bottom:14px;
}
.fbar div{
  color:rgb(52, 51, 51);
  height:40px;
  font-size:12px;
  font-family: Roboto,Arial;
  align-items:center;
  justify-content: center;
  display:flex;
  flex-direction:row;
  cursor:pointer;
}
.fbar div:hover{
  text-decoration:underline;
  text-decoration-color: rgb(19, 19, 139);
  text-decoration-thickness: 2px;
}
.fashion{
  height:48px;
  margin-left:20px;
}
.dd{
  height:10px;
  width:10px;
  object-fit:cover;
  object-position: center;
  padding-left:5px;
}