.toprow{
  display:flex;
  flex-direction:column;
}
.mainbar{
  position:relative;
  background-color: black;
  height:60px;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
}
.mainbar div{
  height:40px;
  cursor:pointer;
}
.logo{
  height:50px;
  object-fit:cover;
  object-position: center;
  text-align:center;
  padding-left:4px;
  margin-right:8px;
  margin-left:2px;
  cursor:pointer;
}
.nation,.hello,.return,.delivery,.cart{
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
}
.logo:hover,.nation:hover,.hello:hover,.return:hover,.delivery:hover{
  border:1px white solid;
  border-radius:2px;
}
.drop{
  width:25px;
  height:25px;
  object-fit:cover;
  object-position: center;
  padding-left:3px;
  padding-top:10px;
}
p{
  margin:0;
  color:white;
  font-family:Roboto,Arial;
}

.searchbar{
  display:flex;
  flex-direction: row;
  margin-left:0;
  flex:1;
}
.category{
  width:120px;
  height:40px;
  background-color: rgb(230,230,230);
  border:none;
  color:rgb(126, 125, 125);
  border-radius:2px 0 0 2px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.category:hover{
  background-color:rgb(182, 181, 181);;
  color:black;
}
.search{
  display:flex;
  width:200px;
  height:38px;
  flex:1;
  border:none;
    flex-shrink:0;
}
.search::placeholder{
  font-family:Roboto,Arial;
  font-size:15px;
  padding-left:10px;
  font-weight:450;
  color:rgb(109, 109, 109);
  
}
.searchicon{
  width:30px;
  height:30px;
}
.searchbut{
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:rgb(226, 168, 6);
  border:none;
  border-radius:0 2px 2px 0;
  margin-right:8px;
}
.nation{
  display:flex;
  flex-direction: row;
  flex-shrink:0;
  align-items:center;
  justify-content: center;
}
.flag{
  width:21px;
  height:16px;
  margin-right:5px;
}
.dropdown{
  margin-left:2px;
  height:10px;
  width:10px;
  text-align:end;
}
.hellocol{
  display:flex;
  flex-direction: column;flex-shrink: 0;
}
.hello{
  margin-left:4px;
  display:flex;
  flex-direction: row;flex-shrink: 0;
  margin-right:4px;
  align-items: center;
  justify-content: center;
  padding-top:11px;
}
.hello .dropdown{
  margin-left:4px;
}
.nation .dropdown{
  margin-left:4px;
  margin-right:5px;
}
.return{
  display:flex;
  flex-direction:column;
  margin-right:4px;flex-shrink:0;
  padding-top:11px;

}
.carticon{
  height:30px;
  width:30px;
  object-fit:cover;
  object-position: center;
}
.delcol{
  display:flex;
  flex-direction:column;
  width:120px;
  flex-shrink:0;
}
.delivery{
  display:flex;
  flex-direction:row;
  gap:2px;
  flex-shrink:0;
  align-items:center;
  justify-content: center;
  margin-right:4px;

}
.cart{
  margin-left:2px;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  flex-shrink:0;
}
.cart p{
  font-family:Roboto,Arial;
  font-size:small;
  font-weight:bold;
}

