.menu{
  height:30px;
  width:30px;
}
.rufus{
  height:35px;
}
.rest{
  display:flex;
  flex-direction:row; 
  align-items: center;
  justify-content: center;
  padding-top:5px;
  padding-bottom:5px;
  border:none;
}
.optbar{
  display:flex;
  flex-direction:row;
  height:40px;
  background-color:rgb(42, 42, 61);
  justify-content: space-between;
  align-items: center;
}
.optbar div{
  padding-top:20px;
  font-family:Roboto,Arial;
  color:white;
  font-size:15px;
  font-weight:400;
  padding:10px 5px 10px 5px;
  cursor:pointer;
}
.optbar div:hover{
  border:1px white solid;
  border-radius:2px;
}